# Pycache
*__pycache__

# VScode
.vscode

# Zip files
*.zip

# A1

# Data Files, large data
A1/kaggle/input

# Results
A1/kaggle/working*/results

# Temp files
A1/kaggle/working*/temp

# Drive upload folder
A1/drive

# Submission
A1/submission

# Cache
*.vector_cache


# A2

# Data Files, Large Data
A2/kaggle/input

# Results
A2/kaggle/working*/results

# Temp files
A2/kaggle/working*/temp
